{{- if .Values.processingEngine.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "influxdb3-enterprise.fullname" . }}-processor-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "influxdb3-enterprise.labels" . | nindent 4 }}
data:
  {{- if .Values.processingEngine.pluginDir }}
  INFLUXDB3_PLUGIN_DIR: {{ .Values.processingEngine.pluginDir | quote }}
  {{- end }}
  {{- if .Values.processingEngine.pluginRepo }}
  INFLUXDB3_PLUGIN_REPO: {{ .Values.processingEngine.pluginRepo | quote }}
  {{- end }}
  {{- if .Values.processingEngine.virtualEnvLocation }}
  VIRTUAL_ENV: {{ .Values.processingEngine.virtualEnvLocation | quote }}
  {{- end }}
  {{- if .Values.processingEngine.packageManager }}
  INFLUXDB3_PACKAGE_MANAGER: {{ .Values.processingEngine.packageManager | quote }}
  {{- end }}
{{- end }}
