{{- if not (and .Values.objectStorage.s3 .Values.objectStorage.s3.existingSecret) }}
{{- if not (and .Values.objectStorage.azure (hasKey .Values.objectStorage.azure "existingSecret") .Values.objectStorage.azure.existingSecret) }}
{{- if not (and .Values.objectStorage.google (hasKey .Values.objectStorage.google "existingSecret") .Values.objectStorage.google.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "influxdb3-enterprise.fullname" . }}-object-storage
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "influxdb3-enterprise.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if eq .Values.objectStorage.type "s3" }}
  {{- if .Values.objectStorage.s3.accessKeyId }}
  access-key-id: {{ .Values.objectStorage.s3.accessKeyId | b64enc | quote }}
  {{- end }}
  {{- if .Values.objectStorage.s3.secretAccessKey }}
  secret-access-key: {{ .Values.objectStorage.s3.secretAccessKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.objectStorage.s3.sessionToken }}
  session-token: {{ .Values.objectStorage.s3.sessionToken | b64enc | quote }}
  {{- end }}
  {{- else if eq .Values.objectStorage.type "azure" }}
  {{- if and .Values.objectStorage.azure .Values.objectStorage.azure.storageAccount }}
  storage-account: {{ .Values.objectStorage.azure.storageAccount | b64enc | quote }}
  {{- end }}
  {{- if and .Values.objectStorage.azure .Values.objectStorage.azure.accessKey }}
  access-key: {{ .Values.objectStorage.azure.accessKey | b64enc | quote }}
  {{- end }}
  {{- else if eq .Values.objectStorage.type "google" }}
  {{- if and .Values.objectStorage.google .Values.objectStorage.google.serviceAccountJson }}
  service-account.json: {{ .Values.objectStorage.google.serviceAccountJson | b64enc | quote }}
  {{- end }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
