{{- $type := .Values.objectStorage.type | default "s3" }}
{{- $s3Creds := or .Values.objectStorage.s3.accessKeyId .Values.objectStorage.s3.secretAccessKey .Values.objectStorage.s3.sessionToken }}
{{- $azureCreds := and .Values.objectStorage.azure (or .Values.objectStorage.azure.storageAccount .Values.objectStorage.azure.accessKey) }}
{{- $googleCreds := and .Values.objectStorage.google .Values.objectStorage.google.serviceAccountJson }}

{{- if and (eq $type "s3") (not .Values.objectStorage.s3.existingSecret) $s3Creds }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "influxdb3-enterprise.objectStorageSecretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "influxdb3-enterprise.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.objectStorage.s3.accessKeyId }}
  access-key-id: {{ .Values.objectStorage.s3.accessKeyId | b64enc | quote }}
  {{- end }}
  {{- if .Values.objectStorage.s3.secretAccessKey }}
  secret-access-key: {{ .Values.objectStorage.s3.secretAccessKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.objectStorage.s3.sessionToken }}
  session-token: {{ .Values.objectStorage.s3.sessionToken | b64enc | quote }}
  {{- end }}
{{- else if and (eq $type "azure") (not .Values.objectStorage.azure.existingSecret) $azureCreds }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "influxdb3-enterprise.objectStorageSecretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "influxdb3-enterprise.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.objectStorage.azure.storageAccount }}
  storage-account: {{ .Values.objectStorage.azure.storageAccount | b64enc | quote }}
  {{- end }}
  {{- if .Values.objectStorage.azure.accessKey }}
  access-key: {{ .Values.objectStorage.azure.accessKey | b64enc | quote }}
  {{- end }}
{{- else if and (eq $type "google") (not .Values.objectStorage.google.existingSecret) $googleCreds }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "influxdb3-enterprise.objectStorageSecretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "influxdb3-enterprise.labels" . | nindent 4 }}
type: Opaque
data:
  service-account.json: {{ .Values.objectStorage.google.serviceAccountJson | b64enc | quote }}
{{- end }}
